.info-box-wrapper{
    position:relative;
    top: -300px;
    left: 800px;
    background-color: aquamarine;
    padding: 10px;
    width: 200px;
}

.main{
    position: absolute;
    top: 80px;
    left: 80px;
}